{% extends 'base.html' %}
{% block content %}
    {% include 'nav2.html' %}
    <div class="article-view-container">
        <h1 class="article-view-title">Disclaimer</h1>
        <div class="article-view-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore
            accusamus nisi voluptate aspernatur. Beatae omnis, adipisci officia
            earum dolore vero voluptatibus debitis iste odit. Quibusdam suscipit ut
            aspernatur aliquid earum. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Officiis quis debitis alias enim sit esse, explicabo
            saepe provident est perspiciatis cumque amet atque mollitia, aperiam
            libero ratione quas velit ipsum? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Aliquid at animi voluptas commodi fugit! Suscipit
            nobis ex nostrum, magni totam dolor inventore autem laboriosam, deserunt
            accusamus, excepturi labore eius nemo. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Laudantium, ut iure. Odit, libero soluta
            iusto inventore consequuntur ratione fuga commodi eius modi qui,
            obcaecati expedita voluptatem non vitae excepturi asperiores!
        </div>
    </div>
{% endblock content %}